.contenedor{
  display: flex;
 background-color: #87CEEB;
 width: 100vw;
height: 100vh;
}

.hundy{
  display: flex;
  justify-content: center;
  top:0;
  left:0;
  font-size: 40%;
  
  font-family: "Lilita One";
  
  background-color: rgba(255, 255, 255, 0.166);
 
  color: #FF7B00;
  
  padding-top: 50px;
  border-radius:20% ;
  
  
}
.display-1{
  font-size: 60%;
}




