.contenedor{
  display: flex;
 background-color: #87CEEB;
 width: 100vw;
height: 100vh;
}

.hundy{
  display: flex;
  justify-content: center;
  top:0;
  left:0;
  font-size: 70%;
  
  font-family: "Lilita One";
  
 
 
  color: #FF7B00;
  
  padding-top: 60px;
  border-radius:20% ;
  
  
}


.con{
  background-color: #FF7B00;
}

@media(max-width:1600px){
  
  .parallax{
    margin-top: 9%;
  }
  .img-fluid{
    margin-top: 22%;
  }
  .contenedor-verde{
    margin-top:24%;
    
  }
  .barra-negra{
    margin-top:20%;
  }
 
}



@media(max-width:1400px){
  
  .parallax{
    margin-top: 9%;
  }
  .img-fluid{
    margin-top: 12%;
  }
  .contenedor-verde{
    margin-top:14%;
    
  }
  .barra-negra{
    margin-top:20%;
  }
 
}


@media(max-width:1360px){
  
  .parallax{
    margin-top: 4%;
  }
  .img-fluid{
    margin-top: 5%;
  }
  .contenedor-verde{
    margin-top:6%;
    
  }
  .barra-negra{
    margin-top:20%;
  }
 
}
  


@media(max-width:1280px) and (max-height: 800px){
  
  .parallax{
    margin-top: 5%;
  }
  .img-fluid{
    margin-top: 11%;
  }
  .contenedor-verde{
    margin-top:12%;
    
  }
  .barra-negra{
    margin-top:20%;
  }
 
}
  

@media(max-width:1024px){
  .parallax{
    margin-top: 5%;
    font-size: 40%;
  }
  .img-fluid{
    margin-top: 6%;
  }
  .contenedor-verde{
    margin-top:8%;
    
  }
}




@media (max-width: 480px){
  .parallax{
    margin-top: 70%;
    font-size: 20em;
  }
  .ciudad{
    margin-bottom: 29%;
  }
  .img-fluid{
    margin-top: 130%;
  }
  .contenedor-verde{
    margin-top:130%;
    
  }
}

@media(max-width:428px) and (max-height: 926px){
  
  .parallax{
    margin-top: 60%;
    font-size: 40%;
  }
  .ciudad{
    margin-bottom: 100%;
  }
  .img-fluid{
    margin-top: 130%;
  }
  .contenedor-verde{
    margin-top:130%;
    
  }
  .barra-negra{
    margin-top:20%;
  }
 
}
  
